
.logo {
	height: 40px;
	margin: 20px;
}

.splash {
	width: 100%;
	height: auto;
	background-color: #323232;
	background-position: center;
	background-size: cover;
	color: #ffffff !important;
	min-height: 60vh
}

	.splash h1 {
		padding: 150px 0;
	}

.dark {
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}
